name: Deploy to Server

on:
  push:
    branches:
      - m3208

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup SSH Key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -p "${{ secrets.SSH_PORT }}" -H ${{ secrets.SERVER_IP }} >> ~/.ssh/known_hosts

      - name: Deploy Files using Rsync
        run: |
          rsync -avz --exclude='.git' -e "ssh -p ${{ secrets.SSH_PORT }}" $GITHUB_WORKSPACE/ ${{ secrets.USERNAME }}@${{ secrets.SERVER_IP }}:${{ secrets.M3208_PROJECT_PATH }}
